@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}

body{
    background-color: hsl(33, 100%, 96%);
}
.container{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}
.header{
    width: 100%;
    padding: 1.2rem 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.navbar ul .item{
    font-weight: 400;
    color: #161616;
}
.navbar ul .item:hover{
    text-decoration: underline;
}
.logo{
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: uppercase;
}
.login-link .login-icon{
    width: 20px;
}
.red-text{
    font-weight: 600;
    color: red;
    font-size: 1.2rem;
}
/* LOGIN FORM */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 27px;
    margin: 4rem 0;
}
.login-container h1{
    margin-bottom: 1.5rem;
}
.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;  
    margin-top: 1rem;  
}

.login-form > input {
    border: 1px solid rgba(209, 213, 219);
    height: 40px;
    text-indent: 10px;
    font-family: "Inter", sans-serif;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-weight: 400;
}

.login-form > input:focus {
    outline: none;
}

.login-form > input:first-of-type {
    border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
    border-radius: 0px 0px 6px 6px;
    border-top: none;
}

.login-form > button {
    background-color: #FF8C38;
    border: none;
    border-radius: 6px;
    height: 45px;
    margin-top: 22px;
    color: white;
    font-family: "Inter", sans-serif;
}
.login-form > button:disabled {
    background-color: hsl(0, 0%, 50%);
}

/* hero section */
.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) , url("../images/home-hero.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 5rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading-1{
    color: #fff;
    font-weight: 800;
    font-size: 2.3rem;
}
.text{
    color: #fff;
    margin: 2rem 0;
    font-size: 1.1rem;
}
.hero-btn{
    background-color: hsl(25, 100%, 61%);
    padding: 0.8rem 3rem;
    border-radius: 0.5rem;
    color: #fff;
}

/* About Page */
.about-hero{
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.about-content{
    margin: 2.6rem 0;
}
.lead{
    font-size: 1.8rem;
    font-weight: 700;
}
.about-content .text{
    color: #000;
}
.about-img{
    width: 100%;
    margin: 0 auto;
}
.box{
    margin-top: 2.5rem;
    background-color: hsl(33, 100%, 78%);
    padding: 1.5rem 2rem;
    border-radius: 0.3rem;
    max-width: 500px;
}
.box-text{
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
}
.box-btn{
    background-color: #000;
    color: #fff;
    padding: 0.6rem 1.5rem;
    border-radius: 0.5rem;
}


footer{
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 80%);
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 3rem;
    flex-shrink: 0;
}

/*** VAN PAGES ***/
.vans-section {
    padding-inline: 23px;
    padding: 0 5rem;
}

.heading-2{
    font-size: 1.5rem;
    font-weight: 600;
}

.vans-filters{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.8rem;
}
.vans-filters .van-filter{
    background-color: hsl(33, 90%, 86%);
    color: #161616;
    padding: 0.2rem 0.8rem;
    font-size: 1rem;
    border-radius: 0.2rem;
}
.vans-filters .van-filter-clear{
    text-decoration: underline;
}

.van-filter.simple:hover, .van-filter.simple.selected {
    background-color: #E17654;
    color: #fff;
}

.van-filter.rugged:hover, .van-filter.rugged.selected {
    background-color: #115E59;
    color: #fff;
}

.van-filter.luxury:hover, .van-filter.luxury.selected {
    background-color: #161616;
    color: #fff;
}

.van-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
}

.van-tile a {
    color: #161616;
    text-decoration: none;    
}

.van-tile img {
    width: 80%;
    border-radius: 5px;
    margin-bottom: 0.4rem;
}

.van-list-container button {
    margin-right: 20px;
    cursor: pointer;
}
.van-info h3{
    font-weight: 500;
}
.van-info p{
    margin-bottom: 0.3rem;
}
.van-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}

.van-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}

i[class*='van-type-'] {
    padding: 7px 14px;
}

/* SINGLE VAN */
.van-detail-container {
    padding: 0 3rem;
}

.van-detail-container .back-button {
    color: black;
    text-decoration: none;
}

.van-detail-container .back-button:visited {
    
}

.van-detail-container .back-button span {
    text-decoration: underline;
}

.van-detail {
    display: flex;
    flex-direction: column;
    color: #161616;
    max-width: 450px;
}

.van-detail img {
    border-radius: 5px;
    margin-block: 47px;
    max-width: 100%;
}

.van-detail h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.van-detail > i {
    align-self: flex-start;
}

.van-detail .van-price {
    font-size: 1.50rem;
    margin-bottom: 10px;
}

.van-detail .van-price span {
    font-weight: 700;
    font-size: 1.5rem;
}

.van-detail .link-button {
    background-color: #FF8C38;
    color: white;
    font-size: 1.125rem;
    padding: 0.2rem 0;
    border-radius: 0.3rem;
    margin-top: 1rem;
    width: 200px;
}

/* HOST PAGE */

/* HOET LINKS */
.host-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.host-links .link{
    text-decoration: underline;
}

/* HOST VANS AND DETAILS */
.host-vans-container{
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0;
}
.host-vans{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1.2rem;
}
.host-van{
    width: 100%;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.host-van-img{
    width: 55px;
    border-radius: 0.2rem;
}
.host-van div{

}
.host-van-name{
    font-weight: 500;
}

/* HOST VAN DETAILS */
.host-van-details-section{
    width: 90%;
    padding: 3rem 0;
    margin: 0 auto;
}
.back-to-vans-link span{
    text-decoration: underline;
    font-weight: 500;
    margin-left: 0.5rem;
    font-size: 1rem;
}
.back-to-vans-link{
    display: flex;
    align-items: center;
}
.host-van-details-wrapper{
    margin-top: 2rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
}
.host-van-details-showcase-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}
.host-van-details-showcase-content div{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.host-van-details-showcase-content div div{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0rem;
}
.host-van-details-showcase-content nav{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.host-van-details-img{
    width: 150px;
    border-radius: 0.2rem;
}
.host-van-type{
    background-color: hsl(14, 70%, 61%);
    padding: 0.1rem 0.6rem;
    border-radius: 0.3rem;
    color: #fff;
    display: inline;
}
.host-van-details-name{
    margin: 0.3rem 0;
    font-weight: 600;
    font-size: 1.2rem;
}
.host-van-details-price span{
    font-weight: 600;
}
.hostVan-details-price span{
    font-weight: 600;
    font-size: 1.3rem;
}
.host-van-details-links{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin: 1rem 0;
}
.host-van-details-link:hover{
    text-decoration: underline;
}
.host-van-details-text p{
    margin-bottom: 0.5rem;
}
.host-van-details-text p span{
    font-weight: 500;
}

/* Not found page */
.not-found-container{
    width: 90%;
    padding: 100px 2rem;
    margin: 0 auto;
    display: grid;
    place-items: center;
    height: 100%;
}
.not-found-text{
    font-size: 2rem;
    font-weight: 600;
    color: hsl(0, 0%, 5%);
    margin-bottom: 2rem;
}
.not-found-btn{
    font-size: 1rem;
   background-color: hsl(0, 0%, 5%);
   color: #fff;
   padding: 0.5rem 3rem;
    border-radius: 0.2rem;
}

/* FETCH ERRROR AND LOADING*/
.loading-vans{
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    margin: 5rem 0;
}
.error-vans{
    text-align: center;
    margin: 5rem 0;
    font-weight: 600;
    font-size: 2rem;
}